/.gradle/
/.intellijPlatform/
/build/
/build/classes/
/build/distributions/
/build/idea-sandbox/
/build/instrumented/
/build/kotlin/
/build/libs/
/build/reports/
/build/resources/
/build/snapshot/
/build/tmp/
/build/coroutines-javaagent.jar
/.intellijPlatform/layoutIndex/
/.intellijPlatform/localPlatformArtifacts/
/.intellijPlatform/productReleases/
/.intellijPlatform/sandbox/
/.intellijPlatform/coroutines-javaagent.jar
/.intellijPlatform/self-update.lock
/.gradle/8.13/
/.gradle/9.0-milestone-1/
/.gradle/9.6.1/
/.gradle/buildOutputCleanup/
/.gradle/kotlin/
/.gradle/vcs-1/
/.gradle/config.properties
/.gradle/file-system.probe
